.searchBarContainer{
    display: flex;
    justify-content: center;
    height: 100px
}

.searchBar{
    display: flex;
    flex-direction: row;
    gap: 5px
}

.language-button, .city-button , .specialty-button, .date-button {
    width: 200px
}

.tourImg{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.tour-images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.image_container{
    display: grid;
    grid-template-columns: 25% repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 5px;}