.userImg{
    height: 200px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.reviewImg{
    height: 50px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.rating-input {
    display: flex;
    margin: auto;
}

#postReviewContainer {
    margin: 100px auto;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
    width: 350px;
    align-items: center;
    padding: 20px;
    font-family: "Manrope", sans-serif;
    margin: 20px auto;
}

.postReviewHeading {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

.comment-input {
    background-color: #f5acac;;
    width: 100%;
    padding: 5px 0px;
}

.filled {
    color: black
}

.empty {
    color: grey
}

.rating-input {
    display: flex;
    
}

.empty-space{
    height: 15px;
    margin: 0
}

.guide-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;

}

.left-side{
    width: 40%;
    
}

.right-side{
    width: 20%;
    border: 3px solid black;
}